*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.services{
  min-height: 60vh;
  background-color: #0f1214;
}
.service-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;

}
.para-container h3{
  font-size: 35px;
  color: #007fff;
  margin-bottom: 20px;
}
.para-container {
  color:#797f87;
}
.service-container .para-container p{
  font-size: 20px;
  text-wrap: wrap;
}
@media screen and (max-width: 1000px) {

.service-container{
  flex-direction: column;
}
}